<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <h2>Мои опросы</h2>
        <div class="mt-6 divide-y divide-gray-200 dark:divide-gray-700">
            <% polls.forEach((poll) => { %>
                <a href="/main/poll/<%= poll.id %>" class="gap-3 pb-6 sm:flex sm:items-start">123</a>
            <% }); %>
        </div>
    </div>
</section>
